@import 'styles/button';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.header {
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.inputGroup {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  align-items: center;
}

.label {
  text-align: right;
}

.label:after {
  content: ":";
}

.graphWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-block: 1rem;
}

.graphWrapper div div canvas {
  position: relative;
  width: 100%;
  height: 100%;
}


.btn {
  @include btn;
  margin-top: 1rem;
}