.navBar{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  flex-shrink: 0;
  background: white;
  box-shadow: 0px 0px 5px #808080;
}

@media (max-width: 965px) {
  .navBar{
    display: none;
  }
}

.navList{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
}

.navItem{
  padding-block: 0.35rem;
  border-radius: 3px;
}
// .navItem:hover{
//   background: rgba(64,87,109,.07);
// }

.notActive{
  background: transparent;
}

.active{
  background: rgba(64,87,109,.07);
}

.navLink{
  margin-left: 0.4rem;
  text-decoration: none;
  font-size: 1.15rem;
  color: black;
}
.navLink:hover{
  text-decoration: underline;
}